:root {
  --default-font-family: , "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 2137px;
  height: 1024px;
  margin: 0 auto;
  background: #12141b;
  overflow: hidden;
}

.frame {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 16px;
  position: relative;
  width: 2073px;
  margin: 108px 0 0 32px;
  z-index: 11;
}

.frame-1 {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 16px;
  position: relative;
  min-width: 0;
  z-index: 12;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 16px;
  position: relative;
  width: 332px;
  padding: 20px 20px 20px 20px;
  background: #1a1c23;
  z-index: 13;
  border-radius: 16px;
}
